
body {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo {
    position: relative;
    background: rgba(0,0,0,.1);
    width: 36px;
    height: 36px;
    border-radius: 100%;
    margin: auto;
    top: 19px;
}

.logo img {
    position: absolute;
    width: 8px;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.container {
    display: flex;
    position: absolute;
    flex-wrap: no-wrap;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.nav {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 64px;
    /* background: rgb(84, 115, 212) !important; */
    background-color: #3B2F63 !important;
    background-image: -webkit-radial-gradient(50% top, circle, rgba(84,90,182,0.6) 0%, rgba(84,90,182,0) 75%),-webkit-radial-gradient(right top, circle, #402756 0%, rgba(121,74,162,0) 57%) !important;
    /* background: rgb(101, 84, 192) !important; */
    /* background: #4b3f8e !important; */
}

.content {
    position: relative;
    height: 100%;
    flex-grow: 2;
}

iframe {
    border: 0;
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}